<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h2>Добавить пользователя</h2>
<form th:action="@{/admin/add}" th:object="${user}" method="post">
    <fieldset>
        <legend>Данные пользователя</legend>
        <p>
            <label>Имя:</label>
            <input type="text" name="name" th:field="*{name}" required/>
        <div style="color:indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </p>
        <p>
            <label>Фамилия:</label>
            <input type="text" name="lastName" th:field="*{lastName}" required/>
        <div style="color:indianred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </p>
        <p>
            <label>Email:</label>
            <input type="email" name="email" th:field="*{email}" required/>
        <div style="color:indianred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </p>
    </fieldset>
    <button type="submit">Сохранить</button>
</form>
<br/>
<a href="/admin">Назад к списку</a>
</body>
</html>