<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменить пользователя</title>
</head>
<body>
<h2>Изменить пользователя</h2>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
  <input type="hidden" name="id" th:field="*{id}"/>
  <fieldset>
    <legend>Данные пользователя</legend>
    <p>
      <label>Имя:</label>
      <input type="text" name="name" th:field="*{name}" required/>
    <div style="color:indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </p>
    <p>
      <label>Фамилия:</label>
      <input type="text" name="lastName" th:field="*{lastName}" required/>
    <div style="color:indianred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </p>
    <p>
      <label>Email:</label>
      <input type="email" name="email" th:field="*{email}" required/>
    <div style="color:indianred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </p>
  </fieldset>
  <button type="submit">Сохранить изменения</button>
</form>
<br/>
<a href="/admin">Назад к списку</a>
</body>
</html>