<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h2>Войдите в систему</h2>
<div th:if="${param.error}" style="color: red;">
    Неверный логин или пароль.
</div>
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
        <label>Email:</label>
        <input type="text" name="username" required autofocus/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" required/>
    </div>
    <button type="submit">Войти</button>
</form>
</body>
</html>